body{
  margin: 0px;
  background-image: url("ipl.avif") ;
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  text-align: center;
  margin: 100px auto;
  display: flex;
  justify-content: space-around;
  width: 575px;
  height: 385px;
  background-color: rgb(202, 31, 31);
  color: white;
  font-family: Verdana;
  border-radius: 15px;
  border: 3px solid yellow;
}
.score{
  margin: 20px;
  width: 155px;
  height: 120px;
  background-color: #080001;
  color: red;
  font-size: 90px;
  border-radius: 5px;
}
.column{
  margin: 50px auto 50px auto;
}
button{
  width: 50px;
  height: 50px;
  border-radius: 6px;
  font-size: 1.5rem;
  border: 2px solid #9AABD8;
  background-color: #1B244A;
  cursor: pointer;
  color: white;
}
#csk{
  background-color: yellow;
}
#rcb{
  background-color: red;
}